.header {
    border: 2px solid, black;
    background-color: rgba(0, 0, 0, 0.1);
}

.site_info {
    /* border: 1px solid, black;
    background-color: rgba(0, 0, 0, 0.1); */
    box-sizing: border-box;
    width: 30%;
    float: left;
    display: block;
}

.search_box {
    /* border: 1px solid, black;
    background-color: rgba(0, 0, 0, 0.1); */
    box-sizing: border-box;
    width: 40%;
    float: left;
    display: block;
}

.user_info {
    /* border: 1px solid, black;
    background-color: rgba(0, 0, 0, 0.1); */
    box-sizing: border-box;
    width: 30%;
    float: left;
    display: block;
}